body {
background-color: #fac0d9;
}
div{
    color: #99174f;
    box-shadow: 0 5px 10px #5e032a;
    border: 2xp solid #910441;
    font-size: 32px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif

}
.asd {
font-size: 20xp;
color: #c9799c;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-style: italic;


}
.asdf{
size:30px;

}